.element__img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 282px;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    display: block;
    z-index: 2;
    background-color: black;
  }

  .element__img:hover {
    cursor: pointer;
  }