.header__logo {
    margin: 0;
    padding: 0 0 40px;
    max-width: 142px;
    max-height: 33px; 
}

@media screen and (max-width: 450px) {
  .header__logo {
    padding: 0 0 32px;
    max-width: 103px;
    max-height: 24px; 
  }
}