.element__like-photo {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    background-image: url("../../../image/like.svg");
    border: none;
    background-color: transparent;
    opacity: 1;
    transition: all 0.2s ease-out;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .element__like-photo:hover {
    opacity: 0.5;
    cursor: pointer;
  }