.popup__close {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    background-image: url(../../../image/close.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    opacity: 1;
    transition: all 0.5s ease-out;
  }

  .popup__close:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  @media screen and (max-width: 650px) {
    .popup__close {
      width: 20px;
      height: 20px;
      right: 0px;
    }
  }