.header__user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  padding: 0px;
}

@media (max-width: 580px) {
  .header__user-info {
    gap: 10px;
  }
}

@media (max-width: 420px) {
  .header__user-info {
    font-size: 14px;
    line-height: 17px;
    display: none;
  }
}
