.element__like-photo_active {
    background-image: url("../../../../image/like_act.svg");
    display: block;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 22px;
    height: 19px;
    opacity: 1;
  }