.popup__input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
    width: 358px;
    height: 27px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  @media screen and (max-width: 650px) {
    .popup__input {
      width: 238px;
    }
  }