.auth__form-input {
  max-width: 358px;
  height: 27px;
  margin-top: 30px;
  background: none;
  border-style: none;
  border-bottom: 2px solid #cccccc;
  padding: 0 0 13px 0;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
}

.auth__form-input:focus {
  outline: none;
}
